.fullsign {
	border-color: black;
	border-width: 10px;
	border-radius: 10px;
}
#rcorners2 {
    border-radius: 25px;
    border: 2px solid #000000;
    padding: 20px; 
    width: 600px;
    height: 1750px;}
#box1 {
  color: black;
  font-size: 50px;
  text-align: center;
  font-family: sans-serif;
  
}
#box2 {
  background-color: black;
  color: white;
  font-size: 50px;
  text-align: center;
  font-family: sans-serif;
  margin: 5px;
	border-radius: 10px;
}

#box3 {
  background-color: black;
  color: white;
  text-align: left;
  font-size: 15px;
  font-family: sans-serif;
  margin: 20px;
  padding: 10px;
}

img {
  width: 550px;
  align: center;
}

#bolt {
	width: 25px;
height: 25px;
display: block;
    margin-left: auto;
    margin-right: auto;
}